html{
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: black;
}

img{
    width: 100%;
    border: 5px solid white;
}


div{
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}